<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Shoemart Admin</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/fav.png" />

    <!-- Fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.css" rel="stylesheet"/>
 
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    
  

  </head>
  <body>
      

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper" >
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">SHOEMART /</span>orders  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <a href="/admin/dashboard" class="btn btn-primary"> GO BACK</a></h4>

              

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Orders</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table" id="myTable" >
                    <thead>
                      <tr>
                        <th>Order id</th>
                        <th>Products</th>
                        <th>Date</th>

                        <th>Payment Method</th>
                        <th>Status</th>
                        <th>Order Price</th>
                        <th>Address</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      
                    <% order.forEach(function(order){%>

                  
                      <tr>
                        <td><%=order.orderId%></td>
                        <td> <a href="/admin/view-product?id=<%=order._id%>" class="btn-sm btn-success">View</a> </td>
                        <td><%= order.date.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %> <%= order.date.toLocaleTimeString('en-US', {hour: 'numeric', minute:'numeric'}) %></td>

                        <td>
                        <% if (order.payment_method === "1") { %>
                          <p class="text-warning">COD</p>
                          <% } %>


                          <% if (order.payment_method === "2") { %>
                            <p class="text-success">RAZOR PAY</p>
                            <% } %>

                          </td>
                            <td><strong><%=order.status%></strong></td>
                            <td><%= order.total ? order.total : order.subtotal %></td>
                            <td><%=order.addressId%></td>
                            <td>
                            <% if (order.status === "processing") { %>
                              <a href="/admin/change-status?id=<%= order._id %>"
                                   class="btn-sm btn-warning"
                                   onclick="return confirm('Are you sure?')">Ship Order</a>
                              <% } %>

                              <% if (order.status === "Shipped") { %>
                                <a href="/admin/change-status?id=<%= order._id %>"
                                     class="btn-sm btn-warning"
                                     onclick="return confirm('Are you sure?')">Out of delivery</a>
                                <% } %>

                                <% if (order.status === "Out for Delivery") { %>
                                  <a href="/admin/change-status?id=<%= order._id %>"
                                       class="btn-sm btn-warning"
                                       onclick="return confirm('Are you sure?')">Delivered</a>
                                  <% } %>
                                </td>
                                
                      </tr>
                      
                    <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

              <hr class="my-5" />
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Shoemart</a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">

<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
  } );
  </script>

