<%- include('../layouts/head.ejs')%>
<style>

.main{
    max-width: 100%;
    padding: 20px;
    background-color: #e7862b;
  box-shadow: 0 0 10px rgba(19, 17, 17, 0.377);
}


.profile {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.profile p {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile li {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile li strong {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}
</style>
<body>
    <% if(typeof userData !== "undefined"){ %>
		<%-include('userloged') %>
	<%}else{%>
		<%- include('noUser') %>
	<%}%>
    <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>EDIT YOUR PROFILE</h1>
					<nav class="d-flex align-items-center">
						<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Welcome to Shoemart</a>
					</nav>
				</div>
			</div>
			
		</div>
	</section>

    <div class="container main">


        <div class="profile">
            <div class="container">


<form action="/profileEdit?id=<%=userData._id%>" method="post">
    <label class="form-label mt-0 mb-0" for="form3Examplea2">Enter Your Name</label>
    <input name="name" value="<%=userData.name%>" style="border: 1px solid black" type="text"
      id="form3Examplea2" class="form-control form-control-lg mt-0" required />

    <label class="form-label mt-2 mb-0" for="form3Examplea2">Enter Your Email</label>
    <input name="email" value="<%=userData.email%>" style="border: 1px solid black" type="email"
      id="form3Examplea2" class="form-control form-control-lg mt-0" required />

    <label class="form-label mt-2 mb-0" for="form3Examplea2">Enter Mobile</label>
    <input name="mobile" value="<%=userData.mobile%>" style="border: 1px solid black" type="tel"
      id="form3Examplea2" class="form-control form-control-lg mt-0" required />

    <div class="form-outline " style="text-align: center">
      <button style="right: 0%" type="submit" class=" mt-3 btn btn-dark btn-block btn-lg"
        data-mdb-ripple-color="dark"><i class="fa fa-refresh" aria-hidden="true"></i> Update User </button>
    </div>
  </form>

  </div>
  </div>
  </div>


  <%- include('../layouts/footer.ejs')%>