<%- include('../layouts/head.ejs')%>
<style>

.main{
    max-width: 100%;
    padding: 20px;
    background-color: #e7862b;
  box-shadow: 0 0 10px rgba(19, 17, 17, 0.377);
}


.profile {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.profile p {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile li {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile li strong {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}
</style>
<body>
    <% if(typeof userData !== "undefined"){ %>
		<%-include('userloged') %>
	<%}else{%>
		<%- include('noUser') %>
	<%}%>
    <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>YOUR ORDER IS SUCCESSFULL</h1>
					<nav class="d-flex align-items-center">
						<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Welcome to Shoemart</a>
					</nav>
				</div>
			</div>
			
		</div>
	</section>

    <div class="container main">


        <div class="profile">
            <div class="container">

<section class="order_details section_gap">
       
    <div class="container">
    
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner align-items-center">
            <% for(let i=0; i<order.length; i++) { %>
                <div class="col-lg-12">
                <div class="details_item">
                <h4>Order Info</h4>
                <ul class="list">
                <li><a href="#"><span>Order number</span> : <%= order[i].orderId %></a></li>
                <li><a href="#"><span>Date</span> : <%= order[i].date.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %> <%= order[i].date.toLocaleTimeString('en-US', {hour: 'numeric', minute:'numeric'}) %></a></li>
                <li><a href="#"><span>Total</span> : <%= order[i].total ? order[i].total : order[i].subtotal %></a></li>
                <% if(order[i].payment_method === 1) { %>
                <li><a href="#"><span>Payment method</span> : CASH ON DELIVERY </a></li>
                <% } %>
                <% if(order[i].payment_method === 2) { %>
                <li><a href="#"><span>Payment method</span> : RazorPay </a></li>
                <% } %>
                </ul>
                </div>
                </div>
                <% } %>
            </div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
                    
					<table class="table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% order.forEach(function(orderItem) { %>
                                    <% var totalPrice = 0 %>
                                <% orderItem.product.forEach(function(productItem) { %>
                                <tr>
                                    <td>
                                        <p><%= productItem.name %></p>
                                    </td>
                                    <td>
                                        <h5><%= productItem.quantity %></h5>
                                    </td>
                                    <td>
                                        <p><%= productItem.price * productItem.quantity %></p>
                                    </td>
                                </tr>
                                <% totalPrice += productItem.price * productItem.quantity %>
                              <% }) %>
                              <tr>
                                    <td>
                                        <h4>Subtotal: </h4>
                                    </td>
                                    <td></td>
                                    <td><strong><%= totalPrice %></strong></td>
                                  </tr>
                                <tr>
                                    <td>
                                        <h4>Discount total : </h4>
                                    </td>
                                    <td>
                                        <h5></h5>
                                    </td>
                                    <td>
                                        <p><%= orderItem.total ? orderItem.total : orderItem.subtotal %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Shipping</h4>
                                    </td>
                                    <td>
                                        <h5></h5>
                                    </td>
                                    <td>
                                        <p>Free</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Total</h4>
                                    </td>
                                    <td>
                                        <p><%= orderItem.total ? orderItem.total : orderItem.subtotal %></p>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>
                        </table>
                               
				</div>
			</div>
		</div>
   
	</section>
</div>
</div>
</div>


<%- include('../layouts/footer.ejs')%>